* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  list-style: none;
}

body {
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: black;
}

header {
  width: 100%;
  position: fixed;
  z-index: 8;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.for_mobile {
  display: none;
}

.navbar {
  width: 100%;
  padding: 2rem;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr 1fr auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), 50%, transparent);
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.navbar__logo--icon {
  width: 3rem;
}
.navbar__logo--text {
  font-size: 1.2em;
  font-weight: 900;
}
.navbar__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar__menu--button {
  font-size: 1.2em;
  font-weight: bold;
}
.navbar__menu--mobile {
  background: none;
  border: none;
}
.navbar__menu--mobile img {
  width: 2rem;
}
.navbar__search {
  width: 80%;
  justify-self: center;
  padding: 0.8rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
}
.navbar__search--input {
  width: 90%;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  background: none;
  color: white;
}
.navbar__search--input:focus {
  outline: none;
}
.navbar__search--input::placeholder {
  color: white;
}
.navbar__account--icon {
  width: 2.5rem;
}

.banner__container {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  gap: 5rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.banner__container::-webkit-scrollbar {
  display: none;
}

.movie {
  width: 100%;
  flex-shrink: 0;
  position: relative;
  overflow-y: hidden;
  scroll-snap-align: center;
}
.movie__background {
  width: 100%;
  height: 100svh;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.4) blur(2px);
}
.movie__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
  max-width: 1100px;
  display: flex;
  gap: 5%;
}
.movie__cover {
  align-self: center;
  width: 30%;
  border-radius: 2rem;
}
.movie__description {
  display: grid;
  place-content: center;
  grid-gap: 2rem;
}
.movie__description--title h2 {
  font-size: 2.2em;
  margin-bottom: 0.5rem;
}
.movie__description--title div {
  display: flex;
  align-items: center;
  gap: 5%;
}
.movie__description--year {
  font-size: 1.5em;
}
.movie__description--tag {
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  font-size: 1em;
  font-weight: bold;
}
.movie__description--text {
  font-size: 1.4em;
  line-height: 1.5em;
}
.movie__description--button {
  width: 30%;
  min-width: 215px;
  height: 3rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Montserrat";
  border: none;
  border-radius: 2rem;
  background-color: #5B35DE;
}

.dots_container {
  position: absolute;
  display: flex;
  gap: 4rem;
  z-index: 1;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
.dot--active {
  background-color: #5B35DE;
}

.categories {
  padding: 5rem;
  background-color: #250043;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.categories h1 {
  font-size: 2em;
}
.categories__container {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.categories__button {
  display: flex;
  padding: 0.5rem 3rem;
  border-radius: 5rem;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.category--action {
  background-color: #990000;
}
.category--adventure {
  background-color: #994C00;
}
.category--animation {
  background-color: #004D00;
}
.category--comedy {
  background-color: #999900;
}
.category--crime {
  background-color: #660099;
}
.category--documentary {
  background-color: #404040;
}
.category--drama {
  background-color: #4C0000;
}
.category--family {
  background-color: #994D4D;
}
.category--fantasy {
  background-color: #336699;
}
.category--history {
  background-color: #00004D;
}
.category--horror {
  background-color: #000000;
}
.category--music {
  background-color: #996300;
}
.category--mystery {
  background-color: #666633;
}
.category--romance {
  background-color: #990066;
}
.category--science-fiction {
  background-color: #006666;
}
.category--tv-movie {
  background-color: #333366;
}
.category--thriller {
  background-color: #003300;
}
.category--war {
  background-color: #000066;
}
.category--western {
  background-color: #994D00;
}

.trending, .upcoming {
  padding: 5rem;
  font-size: 1.2em;
  background-color: #300D4D;
  display: grid;
  gap: 5rem;
}
.trending__container, .upcoming__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  grid-auto-rows: 1fr;
  place-items: center;
  gap: 2rem;
}
.trending__movie, .upcoming__movie {
  position: relative;
  border-radius: 1rem;
  width: 12.5rem;
}
.trending__movie--add, .upcoming__movie--add {
  width: 12.5%;
  position: absolute;
  left: 83%;
  top: 3%;
}
.trending__movie--add img, .upcoming__movie--add img {
  width: 100%;
}

.upcoming {
  background-color: #250043;
}
.upcoming__movie--add img {
  width: 100%;
}

.footer {
  width: 100%;
}
.footer__container {
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  align-items: center;
  justify-items: center;
}
.footer__logo {
  width: 100%;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
  border-right: 5px solid white;
}
.footer__logo img {
  width: 8rem;
}
.footer__info h3 {
  padding-left: 2rem;
}

@media (max-width: 1300px) {
  .movie__info {
    width: 80%;
  }
  .movie__description {
    grid-gap: 1rem;
  }
  .movie__description h2 {
    font-size: 1.8em;
  }
  .movie__description--text {
    font-size: 1.1em;
  }
}
@media (max-width: 1000px) {
  .navbar__logo--text {
    display: none;
  }
  .navbar__menu--button {
    font-size: 1em;
  }
  .navbar__search {
    height: 2rem;
    font-size: 0.8em;
  }
  .movie__description--title h2 {
    font-size: 1.2em;
  }
  .movie__description--year {
    font-size: 1em;
  }
  .movie__description--text {
    font-size: 1em;
  }
}
@media (max-width: 600px) {
  .for_desktop {
    display: none;
  }
  .for_mobile {
    display: block;
  }
  .navbar {
    grid-template-columns: auto 1fr auto;
  }
  .navbar__logo--icon {
    width: 2rem;
  }
  .movie__info {
    flex-direction: column;
  }
  .movie__cover {
    border-radius: 1rem;
    width: 40%;
  }
  .movie__description {
    text-align: center;
    grid-gap: 0rem;
  }
  .movie__description div {
    justify-content: center;
  }
  .movie__description--title {
    margin: 1rem 0;
  }
  .movie__description--year {
    font-size: 1.1em;
  }
  .movie__description--tag {
    font-size: 0.8em;
  }
  .movie__description--text {
    font-size: 0.8em;
  }
  .movie__description--button {
    min-width: 125px;
    height: 2rem;
    margin: 1rem 0 0 0;
    justify-self: center;
    font-size: 0.8rem;
  }
  .movie__description--button img {
    width: 0.8rem;
  }
  .categories {
    width: 100%;
    padding: 5rem 1rem;
  }
  .categories__container {
    gap: 1rem;
  }
  .categories__button {
    padding: 0.5rem 2rem;
    font-size: 0.8em;
  }
  .trending, .upcoming {
    text-align: center;
    place-content: center;
    padding: 5rem 1rem;
    padding-right: 0;
  }
  .trending__container, .upcoming__container {
    display: flex;
    overflow-x: scroll;
  }
  .trending__movie, .upcoming__movie {
    width: 9rem;
  }
}

/*# sourceMappingURL=styles.css.map */
