$green: #00923A;
$primary-color: #5B35DE;

@mixin flex($fd:null, $jc:null, $ai:null) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    list-style: none;
}

body {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

header {
    width: 100%;
    position: fixed;
    z-index: 8;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.for_mobile {
    display: none;
}

.navbar {
    width: 100%;
    padding: 2rem;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr 1fr auto;
    background: linear-gradient(rgba(0,0,0,0.6), 50%, transparent);
    
    &__logo {
        @include flex(null, center, center);
        gap: 1.2rem;
        
        &--icon {
            width: 3rem;
        }

        &--text {
            font-size: 1.2em;
            font-weight: 900;
        }
    }

    &__menu {
        @include flex(null, space-around, center);

        &--button {
            font-size: 1.2em;
            font-weight: bold;
        }

        &--mobile {
            background: none;
            border: none;
            img {
                width: 2rem;
            }
        }
    }

    &__search {
        width: 80%;
        justify-self: center;
        padding: 0.8rem 1.2rem;
        @include flex(null, space-between, center);
        border-radius: 2rem;
        background-color: rgba(255, 255, 255, 0.4);
        
        &--input {
            width: 90%;
            border: none;
            font-family: 'Montserrat', sans-serif;
            font-size: 1em;
            background: none;
            color: white;
            
            &:focus {
                outline: none;
            }

            &::placeholder {
                color: white;
            }
        }
    }

    &__account {
        &--icon {
            width: 2.5rem;
        }
    }
}

.banner__container {
    position: relative;
    width: 100%;
    height: 100svh;
    display: flex;
    gap: 5rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

.movie {
    width: 100%;
    flex-shrink: 0;
    position: relative;
    overflow-y: hidden;
    scroll-snap-align: center;

    &__background {
        width: 100%;
        height: 100svh;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.4) blur(2px);
    }

    &__info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        width: 100%;
        max-width: 1100px;
        display: flex;
        gap: 5%;
    }

    &__cover {
        align-self: center;
        width: 30%;
        border-radius: 2rem;
    }

    &__description {
        display: grid;
        place-content: center;
        grid-gap: 2rem;

        &--title {
            h2 {
                font-size: 2.2em;
                margin-bottom: 0.5rem;
            }
            
            div {
                @include flex(null, null, center);
                gap: 5%;
            }
        }

        &--year {
            font-size: 1.5em;
        }

        &--tag {
            padding: 0.3rem 1rem;
            border-radius: 2rem;
            font-size: 1em;
            font-weight: bold;
        }

        &--text {
            font-size: 1.4em;
            line-height: 1.5em;
        }

        &--button {
            width: 30%;
            min-width: 215px; 
            height: 3rem;
            align-self: center;
            @include flex(null, center, center);
            gap: 1rem;
            font-size: 1.2em;
            font-weight: bold;
            font-family: 'Montserrat';
            border: none;
            border-radius: 2rem;
            background-color: $primary-color;
        }
    }
}

.dots_container {
    position: absolute;
    display: flex;
    gap: 4rem;
    z-index: 1;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);

    &--active {
        background-color: #5B35DE;
    }
}

.categories {
    padding: 5rem;
    background-color: #250043;
    @include flex(column, center, center);
    gap: 5rem;

    h1 {
        font-size: 2em; 
    }

    &__container {
        max-width: 1300px;
        @include flex(null, center, center);
        flex-wrap: wrap;
        gap: 3rem;
    }

    &__button {
        display: flex;
        padding: 0.5rem 3rem;
        border-radius: 5rem;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
    }
}

.category {
    &--action {
        background-color: #990000;
    }
    
    &--adventure {
        background-color: #994C00;
    }
    
    &--animation {
        background-color: #004D00;
    }
    
    &--comedy {
        background-color: #999900;
    }
    
    &--crime {
        background-color: #660099; 
    }
    
    &--documentary {
        background-color: #404040;
    }
    
    &--drama {
        background-color: #4C0000;
    }
    
    &--family {
        background-color: #994D4D;
    }
    
    &--fantasy {
        background-color: #336699;
    }
    
    &--history {
        background-color: #00004D;
    }
    
    &--horror {
        background-color: #000000;
    }
    
    &--music {
        background-color: #996300;
    }
    
    &--mystery {
        background-color: #666633;
    }
    
    &--romance {
        background-color: #990066;
    }
    
    &--science-fiction {
        background-color: #006666;
    }
    
    &--tv-movie {
        background-color: #333366;
    }
    
    &--thriller {
        background-color: #003300;
    }
    
    &--war {
        background-color: #000066;
    }
    
    &--western {
        background-color: #994D00;
    }
}

.trending {
    padding: 5rem;
    font-size: 1.2em;
    background-color: #300D4D;
    display: grid;
    gap: 5rem;

    &__container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
        grid-auto-rows: 1fr;
        place-items: center;
        gap: 2rem;
    }

    &__movie {
        position: relative;
        border-radius: 1rem;
        width: 12.5rem;

        &--add {
            width: 12.5%;
            position: absolute;
            left: 83%;
            top: 3%;

            img {
                width: 100%;
            }
        }
    }
}

.upcoming {
    @extend .trending;
    background-color: #250043;


    &__container {
        @extend .trending__container;
    }

    &__movie {
        @extend .trending__movie;

        &--add {
            @extend .trending__movie--add;

            img {
                width: 100%;
            }
        }
    }
}

.footer {
    width: 100%;

    &__container {
        width: 100%;
        height: 100%;
        padding: 5rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-content: center;
        align-items: center;
        justify-items: center;
    }

    &__logo {
        width: 100%;
        padding-right: 2rem;
        display: flex;
        justify-content: center;
        border-right: 5px solid white;

        img {
            width: 8rem;
        }
    }

    &__info {
        h3 {
            padding-left: 2rem;
        }
    }
}

@media (max-width: 1300px) {
    .movie {
        &__info {
            width: 80%;
        }

        &__description {
            grid-gap: 1rem;

            h2 {
                font-size: 1.8em;
            }

            &--text {
                font-size: 1.1em;
            }
        }
    }
}

@media (max-width: 1000px) {
    .navbar {
        &__logo--text {
            display: none;
        }

        &__menu {
            &--button {
                font-size: 1em;
            }
        }

        &__search {
            height: 2rem;
            font-size: 0.8em;
        }
    }

    .movie {
        &__description {
            &--title {
                h2 {
                    font-size: 1.2em;
                }
            }

            &--year {
                font-size: 1em;
            }

            &--text {
                font-size: 1em;
            }
        }
    }
}

@media (max-width: 600px) {
    .for_desktop {
        display: none;
    }

    .for_mobile {
        display: block;
    }

    .navbar {
        grid-template-columns: auto 1fr auto;

        &__logo {
            &--icon {
                width: 2rem;
            }
        }
    }

    .movie {
        &__info {
            flex-direction: column;
        }

        &__cover {
            border-radius: 1rem;
            width: 40%;
        }

        &__description {
            text-align: center;
            grid-gap: 0rem;

            div {
                justify-content: center;
            }

            &--title {
                margin: 1rem 0;
            }

            &--year {
                font-size: 1.1em;
            }

            &--tag {
                font-size: 0.8em;
            }

            &--text {
                font-size: 0.8em;
            }

            &--button {
                min-width: 125px;
                height: 2rem;
                margin: 1rem 0 0 0;
                justify-self: center;
                font-size: 0.8rem;

                img {
                    width: 0.8rem;
                }
            }
        }
    }

    .categories {
        width: 100%;
        padding: 5rem 1rem;

        &__container {
            gap: 1rem;
        }

        &__button {
            padding: 0.5rem 2rem;
            font-size: 0.8em;
        }
    }

    .trending {
        text-align: center;
        place-content: center;
        padding: 5rem 1rem;
        padding-right: 0;

        &__container {
            display: flex;
            overflow-x: scroll;
        }

        &__movie {
            width: 9rem;
        }
    }
}